.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  margin: 0 2.5rem;
  border-bottom: var(--border-light);
}

.cart-item__remove-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3rem;
}

.cart-item__btn {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
}

.cart-item__btn:focus,
.cart-item__btn:active {
  outline: none;
}

.cart-item__btn--remove {
  background-image: url('../../assets/x-img.png');
}

.cart-item__btn--edit {
  background-image: url('../../assets/edit-img.png');
}

.cart-item__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: -4rem;
}

.cart-item__img {
  width: 80%;
}

.cart-item__name,
.cart-item__price {
  font-size: 1.2rem;
}

.cart-item__name {
  color: var(--color-grey-dark);
}

.cart-item__price {
  font-weight: 500;
}

.quantity-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.quantity-editor__btn,
.quantity-editor__qty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0;
  border: var(--border-light);
  font-family: inherit;
  font-size: 1.3rem;
}

.quantity-editor__btn {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

.quantity-editor__btn:focus,
.quantity-editor__btn:active {
  outline: none;
}

.quantity-editor__qty {
  border: 2px solid var(--color-black); /*I'm pretty sure there is a inset box-shadow used, need to come back to this */
}

@media only screen and (max-width: 68.75em) {
  .quantity-editor {
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width: 50em) {
  .quantity-editor {
    margin-right: -2rem;
  }
}
