.totals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}

.totals__table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-grey-light3);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--color-black);
  text-transform: uppercase;
  border: var(--border-light);
}

.totals__table-header:first-of-type {
  margin-bottom: 1.5rem;
}

.totals__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: var(--border-light);
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.totals__table-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-grey-light4);
  padding: 2rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.totals__table-span {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-black);
}

.totals__table-span--big {
  font-size: 1.5rem;
}

.totals__table-item:first-of-type {
  border-bottom: var(--border-light);
  padding-bottom: 1rem;
}

.totals__table-item:nth-of-type(2) {
  padding-top: 1rem;
}
