.shopping-cart {
  width: 70%;
  text-align: center;
}

.shopping-cart__details.hidden {
  display: none;
}

.shopping-cart__content {
  display: flex;
  justify-content: space-between;
}

.shopping-cart__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.shopping-cart__title {
  font-size: 1.7rem;
  font-weight: 400;
}

@media only screen and (max-width: 68.75em) {
  .shopping-cart {
    width: 90%;
  }
}
