.shopping-cart {
  width: 70%;
  text-align: center;
}

.shopping-cart__details.hidden {
  display: none;
}

.shopping-cart__content {
  display: flex;
  justify-content: space-between;
}

.shopping-cart__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.shopping-cart__title {
  font-size: 1.7rem;
  font-weight: 400;
}

.quantity-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.quantity-editor__btn,
.quantity-editor__qty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0;
  border: var(--border-light);
  font-family: inherit;
  font-size: 1.3rem;
}

.quantity-editor__btn {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

.quantity-editor__btn:focus,
.quantity-editor__btn:active {
  outline: none;
}

.quantity-editor__qty {
  border: 2px solid var(--color-black); /*I'm pretty sure there is a inset box-shadow used, need to come back to this */
}
